src/main/resources/schema/ClientBegin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="GlobalTypes.xsd"/>

    <xs:complexType name="ClientBeginType">
        <xs:all>
            <xs:element name="slot" type="PlayerSlotType"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="ClientBeginEvent" type="ClientBeginType"/>

</xs:schema>
