src/main/resources/schema/KillEvent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Shared.xsd"/>

    <xs:complexType name="KillEvent">
        <xs:all>
            <xs:element name="killer" type="xs:int"/>
            <xs:element name="victim" type="xs:int"/>
            <xs:element name="weapon" type="Weapon"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="KillEvent" type="KillEvent"/>

</xs:schema>
