src/main/resources/schema/Kill.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="GlobalTypes.xsd"/>

    <xs:complexType name="KillType">
        <xs:all>
            <xs:element name="killer" type="xs:integer"/>
            <xs:element name="victim" type="xs:integer"/>
            <xs:element name="weapon" type="xs:integer"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="KillEvent" type="KillType"/>

</xs:schema>
