src/main/resources/schema/KillEvent.xsd

<xs:schema version="1.3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Shared.xsd"/>

    <xs:element name="KillEvent">
        <xs:complexType>
            <xs:all>
                <xs:element name="killer" type="xs:int"/>
                <xs:element name="victim" type="xs:int"/>
                <xs:element name="weapon" type="Weapon"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>
