src/main/resources/schema/Say.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="GlobalTypes.xsd"/>

    <xs:complexType name="SayType">
        <xs:all>
            <xs:element name="slot" type="PlayerSlotType"/>
            <xs:element name="message" type="xs:string"/>
            <xs:element name="chat" type="ChatType"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="SayEvent" type="SayType"/>

</xs:schema>
