src/main/resources/schema/SayEvent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Shared.xsd"/>

    <xs:complexType name="SayEvent">
        <xs:all>
            <xs:element name="slot" type="PlayerSlot"/>
            <xs:element name="message" type="xs:string"/>
            <xs:element name="chat" type="Chat"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="SayEvent" type="SayEvent"/>

</xs:schema>
